<div class="page-container">
  <mat-card class="material-card">
    <mat-tab-group dynamicHeight animationDuration="0ms">
      <!-- Log in form -->
      <mat-tab label="Log in">
        <mat-card-header class="custom-header">
          <h1>Log in</h1>
          <p>Where connections come to life. Login and be a part of it!</p>
        </mat-card-header>
        <mat-card-content>
          <form class="custom-form" [formGroup]="logInForm" (ngSubmit)="handleLogIn()">
            <div class="custom-form-field">
              <label for="username-login"> Username </label>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Jhondoe007"
                  formControlName="userName"
                  id="username-login"
                  data-testid="username-login"
                />
                <mat-error *ngIf="logInForm.controls.userName.errors">
                  {{
                    logInForm.controls.userName.errors["required"] ? "Username is required." : ""
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="custom-form-field">
              <label> Password </label>
              <mat-form-field>
                <input matInput type="password" formControlName="password" />
                <mat-error *ngIf="logInForm.controls.password.errors">
                  {{
                    logInForm.controls.password.errors["required"] ? "Password is required." : ""
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <mat-card-actions align="end">
              <button mat-raised-button color="primary" type="submit">Log in</button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-tab>
      <!-- Sign up form -->
      <mat-tab label="Sign up">
        <mat-card-header class="custom-header">
          <h1>Sign up</h1>
          <p>Join the community and create your account now!</p>
        </mat-card-header>
        <mat-card-content>
          <form
            class="custom-form"
            [formGroup]="signUpForm"
            (ngSubmit)="handleSignUp()"
            #signUpFormDirective="ngForm"
          >
            <div class="custom-form-field">
              <label for="username-signup"> Username </label>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Jhondoe007"
                  formControlName="userName"
                  minlength="4"
                  id="username-signup"
                  data-testid="username-signup"
                />
                <mat-error *ngIf="signUpForm.controls.userName.errors">
                  {{
                    signUpForm.controls.userName.errors["required"] ? "Username is required." : ""
                  }}
                  {{
                    signUpForm.controls.userName.errors["minlength"]
                      ? "Minimum length is 4 characters."
                      : ""
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="custom-form-field">
              <label for="email"> Email </label>
              <mat-form-field>
                <input
                  matInput
                  type="email"
                  placeholder="email@example.com"
                  formControlName="email"
                  id="email"
                  data-testid="email-signup"
                />
                <mat-error *ngIf="signUpForm.controls.email.errors">
                  {{ signUpForm.controls.email.errors["required"] ? "Email is required." : "" }}
                  {{
                    signUpForm.controls.email.errors["email"] ? "Please enter a valid email." : ""
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="custom-form-field">
              <label for="password"> Password </label>
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  id="password"
                  data-testid="password-signup"
                />
                <mat-error *ngIf="signUpForm.controls.password.errors">
                  {{
                    signUpForm.controls.password.errors["required"] ? "Password is required." : ""
                  }}
                  {{
                    signUpForm.controls.password.errors["invalidPassword"]
                      ? "A digit, an upper letter and a special character are a mandatory"
                      : ""
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <mat-card-actions align="end">
              <button mat-raised-button color="primary" type="submit">Sign up</button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
